.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1rem 0rem 2rem 0rem;
}

.container div {
    vertical-align: bottom;
}

.close {
    position: absolute;
    background-image: url('../../assets/img/close.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 32px;
    margin-left: 80%;
    margin-top: 5%;
    cursor: pointer;
}